h1
{
    color: red;
}

p
{
    color: green;
}

/* 改变元素的默认行为 */
li
{
    list-style-type: none;
}

/* 使用类名 */
.special
{
    color: orange;
    font-weight: bold;
}

/* 根据元素在文档中的位置确定样式 */
li em   /* 列表内的样式发生改变，段落内的样式不变 */
{
    color: rebeccapurple;
}

/* 根据状态确定样式 */
a:link
{
    color: black;
}
a:visited
{
    color: green;
}

/* 鼠标悬停取消超链接的下划线 */
a:hover
{
    text-decoration: none;
}

