*{
    padding: 0;
    margin: 0;
}

.pic{
    width: 800px;
    padding: 50px;
    margin: 20px;
    border: 20px solid black;
    background-color: greenyellow;
    /* 设置文字居中 */
    text-align: center;
}